<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>صفحه اصلی</title>

    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/AT-pro-logo.png"/>

    <!-- Import lib -->
    <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="overlay-scrollbar">
<div id="site-landing"></div>
<!-- navbar -->
<div class="navbar">
    <!-- nav right -->
    <ul class="navbar-nav nav-right">
        <li class="nav-item mode">
            <a class="nav-link" onclick="switchTheme()">
                <i class="fas fa-moon dark-icon"></i>
                <i class="fas fa-sun light-icon"></i>
            </a>
        </li>
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <img th:src="'/assets/usercover/' + ${profile.getCover()}" alt="User image" class="dropdown-toggle" data-toggle="user-menu" onerror="this.onerror=null; this.src='https://www.gravatar.com/avatar/d18071b1-d6ae-49f3-ab5c-0eb5bfad628f?s=185&d=identicon&r;=PG'">
                <ul id="user-menu" class="dropdown-menu">
                    <li class="dropdown-menu-item">
                        <a class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <span th:text="${profile.getName() + ' ' + profile.getLastname()}"></span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-envelope"></i>
                            </div>
                            <span th:text="${'Email: ' + profile.getEmail()}"></span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="/logout" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item burger">
            <a class="nav-link">
                <i class="fas fa-bars" onclick="collapseSidebar()"></i>
            </a>
        </li>
    </ul>
    <!-- end nav right -->
</div>
<!-- end navbar -->
<!-- sidebar -->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/master_main" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-home"></i>
                </div>
                <span>
						صفحه اصلی
				</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/master_announcements" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-bullhorn"></i>
                </div>
                <span>اطلاعیه ها</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/master_course" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-book"></i>
                </div>
                <span>ارایه دروس</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/master_timetable" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-clock"></i>
                </div>
                <span>تعیین زمان های خود</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="logout" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>خروج از سیستم</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
<!-- main content -->
<div class="wrapper">

</div>
<!-- end main content -->
<!-- import script -->
<script src="index.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/polygonizr.min.js"></script>
<script src="js/backAnimation.js"></script>
<!-- end import script -->
</body>
</html>